* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(185, 185, 185);
}

h1 {
    background-color: rgb(68, 68, 142);
    text-align: center;
    padding: 0.5em;
}

h2 {
    text-align: center;
    padding: 0.5em;
}

.auth-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    width: 300px;
    height: 200px;
    border: 1px solid rgb(68, 68, 142);
    border-radius: 1.5em;
    background-color: rgb(68, 68, 142);
    padding: 1.5em;
    margin: 1em;
}

.auth-form input {
    margin-bottom: 0.4em;
    padding: 7px;
    width: 70%;
    text-align: center;
    border-radius: 1.5em;
}

.auth-form button {
    margin-bottom: 0.4em;
    padding: 7px;
    border-radius: 1.5em;
}

.auth-form p {
    color: rgb(159, 0, 0);
}

.auth-form a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}

.auth-form a:hover {
    text-decoration: underline;
}

.home-page {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#algo-content {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

#algo-prompt {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(68, 68, 142);
}

#algo-solutions {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: rgb(68, 68, 142);
    overflow-y: scroll;
}

#code-mirror {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: rgb(255, 255, 255);
}

.cm-editor {
    flex: 1;
    height: 100%;
    position: relative;
}

.cm-scroller {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

#submit-code {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
}

#clr-editor {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 7;
}

.code-snippet {
    background-color: rgb(33, 36, 41);
    color: rgb(253, 249, 249);
    margin-bottom: 15px;
}